<a href="https://colab.research.google.com/github/TruongTrungQuan20146404/Truong_Trung_Quan_20146404/blob/main/AI_24_3_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.linear_model import Perceptron

In [5]:
x = [[0,0],[1,0],[0,1],[1,1]]
y = [0,1,1,1]
x1 = [[0.5,0],[0,0.5],[0.6,0],[0,0.6],[-10,2],[0.1,1],[-0.3,4]]

      

model = Perceptron()
model.fit(x,y)
model.score(x,y)

y1 = model.predict(x1)
print(y1)

[0 0 1 1 0 1 1]

In [6]:
x2 = [[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]

y2 = [1,1,0,0]

model = Perceptron()
model.fit(x2,y2)
model.score(x2,y2)

1.0

In [7]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [22]:
iris = datasets.load_iris()

X = iris.data
y = iris.target

print(X[:5])
print(y[:5])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5)
sc = StandardScaler()
sc.fit(X_train)
X_train_Std = sc.transform(X_train)
X_test_Std = sc.transform(X_test)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [23]:
print(X_train,X_train_Std)

[[6.3 2.5 4.9 1.5]
 [5.1 2.5 3.  1.1]
 [6.4 2.7 5.3 1.9]
 [5.8 4.  1.2 0.2]
 [5.6 3.  4.1 1.3]
 [4.9 2.4 3.3 1. ]
 [6.7 3.1 4.7 1.5]
 [5.4 3.9 1.7 0.4]
 [6.  3.  4.8 1.8]
 [4.5 2.3 1.3 0.3]
 [4.8 3.1 1.6 0.2]
 [5.8 2.7 5.1 1.9]
 [5.8 2.6 4.  1.2]
 [5.5 2.5 4.  1.3]
 [6.4 2.8 5.6 2.1]
 [5.7 2.9 4.2 1.3]
 [6.6 3.  4.4 1.4]
 [7.3 2.9 6.3 1.8]
 [6.  2.9 4.5 1.5]
 [6.4 2.8 5.6 2.2]
 [6.7 2.5 5.8 1.8]
 [5.1 3.4 1.5 0.2]
 [6.4 3.1 5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [6.3 2.9 5.6 1.8]
 [6.1 3.  4.9 1.8]
 [5.  3.3 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [5.1 3.3 1.7 0.5]
 [4.3 3.  1.1 0.1]
 [4.6 3.2 1.4 0.2]
 [5.6 2.5 3.9 1.1]
 [6.2 2.9 4.3 1.3]
 [5.  3.4 1.6 0.4]
 [5.4 3.4 1.7 0.2]
 [4.4 3.  1.3 0.2]
 [5.1 3.5 1.4 0.2]
 [6.5 2.8 4.6 1.5]
 [7.2 3.  5.8 1.6]
 [6.  2.2 4.  1. ]
 [5.  3.  1.6 0.2]
 [7.2 3.2 6.  1.8]
 [5.7 2.5 5.  2. ]
 [5.9 3.2 4.8 1.8]
 [5.5 2.3 4.  1.3]
 [6.9 3.2 5.7 2.3]
 [5.1 3.5 1.4 0.3]
 [6.2 2.2 4.5 1.5]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.2 4.1 1.5 0.1]
 [5.  3.5 1.6 0.6]
 [5.8 2.8 5.1 2.4]
 [5.  3.5 1.3 0.3]
 [5.4 3.4 1.5 0.4]
 [5.1 3.8 1.5 0.3]
 [5.7 4.4 1.5 0.4]
 [6.8 3.2 5.9 2.3]
 [6.5 3.  5.8 2.2]
 [7.7 2.6 6.9 2.3]
 [6.9 3.1 5.1 2.3]
 [5.4 3.9 1.3 0.4]
 [6.7 3.3 5.7 2.5]
 [5.  3.6 1.4 0.2]
 [7.9 3.8 6.4 2. ]
 [5.4 3.  4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [7.1 3.  5.9 2.1]
 [6.1 2.8 4.7 1.2]
 [6.3 3.3 6.  2.5]
 [6.3 2.5 5.  1.9]
 [5.7 3.8 1.7 0.3]
 [6.9 3.1 5.4 2.1]
 [5.9 3.  5.1 1.8]
 [5.  3.2 1.2 0.2]] [[ 0.52154741 -1.22355999  0.6221924   0.36501366]
 [-0.93168067 -1.22355999 -0.41966914 -0.15396311]
 [ 0.64264975 -0.79171529  0.84153167  0.88399044]
 [-0.08396429  2.01527528 -1.40669586 -1.32166085]
 [-0.32616897 -0.14394823  0.18351386  0.10552528]
 [-1.17388535 -1.43948234 -0.25516469 -0.2837073 ]
 [ 1.00595677  0.07197412  0.51252276  0.36501366]
 [-0.56837365  1.79935293 -1.13252177 -1.06217247]
 [ 0.15824039 -0.14394823  0.56735758  0.75424625]
 [-1.65829471 -1.65540469 -1.35186104 -1.19191666]
 [-1.29498769  0.07197412 -1.18735659 -1.32166085]
 [-0.08396429 -0.79171529  0.73186203  0.88399044]
 [-0.08396429 -1.00763764  0.12867904 -0.02421892]
 [-0.44727131 -1.22355999  0.12867904  0.10552528]
 [ 0.64264975 -0.57579294  1.00603612  1.14347883]
 [-0.20506663 -0.35987059  0.23834867  0.10552528]
 [ 0.88485443 -0.14394823  0.34801831  0.23526947]
 [ 1.73257081 -0.35987059  1.38987985  0.75424625]
 [ 0.15824039 -0.35987059  0.40285313  0.36501366]
 [ 0.64264975 -0.57579294  1.00603612  1.27322302]
 [ 1.00595677 -1.22355999  1.11570576  0.75424625]
 [-0.93168067  0.71974117 -1.2421914  -1.32166085]
 [ 0.64264975  0.07197412  0.95120131  0.75424625]
 [ 2.21698017  1.58343057  1.60921912  1.27322302]
 [ 0.52154741 -0.35987059  1.00603612  0.75424625]
 [ 0.27934273 -0.14394823  0.6221924   0.75424625]
 [-1.05278301  0.50381882 -1.29702622 -1.32166085]
 [-1.41609003  0.28789647 -1.18735659 -1.32166085]
 [-0.93168067  0.50381882 -1.13252177 -0.93242827]
 [-1.90049939 -0.14394823 -1.46153068 -1.45140505]
 [-1.53719237  0.28789647 -1.29702622 -1.32166085]
 [-0.32616897 -1.22355999  0.07384422 -0.15396311]
 [ 0.40044507 -0.35987059  0.29318349  0.10552528]
 [-1.05278301  0.71974117 -1.18735659 -1.06217247]
 [-0.56837365  0.71974117 -1.13252177 -1.32166085]
 [-1.77939705 -0.14394823 -1.35186104 -1.32166085]
 [-0.93168067  0.93566352 -1.29702622 -1.32166085]
 [ 0.76375209 -0.57579294  0.45768795  0.36501366]
 [ 1.61146847 -0.14394823  1.11570576  0.49475786]
 [ 0.15824039 -1.87132704  0.12867904 -0.2837073 ]
 [-1.05278301 -0.14394823 -1.18735659 -1.32166085]
 [ 1.61146847  0.28789647  1.22537539  0.75424625]
 [-0.20506663 -1.22355999  0.67702722  1.01373463]
 [ 0.03713805  0.28789647  0.56735758  0.75424625]
 [-0.44727131 -1.65540469  0.12867904  0.10552528]
 [ 1.24816145  0.28789647  1.06087094  1.40296721]
 [-0.93168067  0.93566352 -1.29702622 -1.19191666]
 [ 0.40044507 -1.87132704  0.40285313  0.36501366]
 [ 0.88485443 -0.35987059  0.45768795  0.10552528]
 [-0.81057833 -0.79171529  0.07384422  0.23526947]
 [-0.81057833  2.23119763 -1.2421914  -1.45140505]
 [-1.05278301  0.93566352 -1.18735659 -0.80268408]
 [-0.08396429 -0.57579294  0.73186203  1.53271141]
 [-1.05278301  0.93566352 -1.35186104 -1.19191666]
 [-0.56837365  0.71974117 -1.2421914  -1.06217247]
 [-0.93168067  1.58343057 -1.2421914  -1.19191666]
 [-0.20506663  2.87896468 -1.2421914  -1.06217247]
 [ 1.12705911  0.28789647  1.17054058  1.40296721]
 [ 0.76375209 -0.14394823  1.11570576  1.27322302]
 [ 2.21698017 -1.00763764  1.71888875  1.40296721]
 [ 1.24816145  0.07197412  0.73186203  1.40296721]
 [-0.56837365  1.79935293 -1.35186104 -1.06217247]
 [ 1.00595677  0.50381882  1.06087094  1.6624556 ]
 [-1.05278301  1.15158587 -1.29702622 -1.32166085]
 [ 2.45918485  1.58343057  1.44471467  1.01373463]
 [-0.56837365 -0.14394823  0.40285313  0.36501366]
 [-0.20506663 -1.00763764 -0.14549505 -0.2837073 ]
 [ 1.49036613 -0.14394823  1.17054058  1.14347883]
 [ 0.27934273 -0.57579294  0.51252276 -0.02421892]
 [ 0.52154741  0.50381882  1.22537539  1.6624556 ]
 [ 0.52154741 -1.22355999  0.67702722  0.88399044]
 [-0.20506663  1.58343057 -1.13252177 -1.19191666]
 [ 1.24816145  0.07197412  0.89636649  1.14347883]
 [ 0.03713805 -0.14394823  0.73186203  0.75424625]
 [-1.05278301  0.28789647 -1.40669586 -1.32166085]]

In [24]:
model=Perceptron(max_iter = 2000, eta0 = 20,random_state = 0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa Scale:', accuracy_score(y_test,y_pred))


model=Perceptron(max_iter = 2000,eta0 = 20,random_state = 0)
model.fit(X_train_Std, y_train)
y_pred = model.predict(X_test_Std)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình :', accuracy_score(y_test,y_pred))

[2 0 2 1 1 1 2 2 1 0 1 1 1 2 2 2 2 0 1 0 0 1 1 1 2 2 1 2 1 0 1 0 1 0 0 2 1
 0 1 2 0 0 0 0 1 1 2 2 0 1 0 0 0 2 0 0 1 1 1 1 0 1 1 1 0 0 2 1 0 1 2 2 2 0
 1]
[2 0 2 1 2 1 2 2 1 0 2 1 1 2 2 2 2 0 1 0 0 1 1 1 2 2 1 2 1 0 1 0 1 0 0 2 1
 0 1 2 0 0 0 0 2 1 1 2 0 1 0 1 0 2 0 0 1 1 1 2 0 1 1 1 0 0 2 1 0 1 2 2 2 0
 1]
Độ chính xác mô hình chưa Scale: 0.92
[2 0 2 1 1 1 2 2 1 0 2 1 1 2 2 2 1 0 1 0 0 1 1 1 2 2 1 2 1 0 1 0 1 0 0 2 1
 0 1 2 0 0 0 0 2 1 1 2 0 1 0 2 0 2 0 0 2 1 1 1 0 1 0 1 0 0 2 1 0 2 2 2 2 0
 1]
[2 0 2 1 2 1 2 2 1 0 2 1 1 2 2 2 2 0 1 0 0 1 1 1 2 2 1 2 1 0 1 0 1 0 0 2 1
 0 1 2 0 0 0 0 2 1 1 2 0 1 0 1 0 2 0 0 1 1 1 2 0 1 1 1 0 0 2 1 0 1 2 2 2 0
 1]
Độ chính xác mô hình : 0.9066666666666666

In [44]:

import pandas as pd 
url = 'crabs.csv'
data = pd.read_csv(url)
data

    speies sex  index  fontallip  rearwidth  length  width  depth
0        B   M      1        8.1        6.7    16.1   19.0    7.0
1        B   M      2        8.8        7.7    18.1   20.8    7.4
2        B   M      3        9.2        7.8    19.0   22.4    7.7
3        B   M      4        9.6        7.9    20.1   23.1    8.2
4        B   M      5        9.8        8.0    20.3   23.0    8.2
..     ...  ..    ...        ...        ...     ...    ...    ...
195      O   F     46       21.4       18.0    41.2   46.2   18.7
196      O   F     47       21.7       17.1    41.7   47.2   19.6
197      O   F     48       21.9       17.2    42.6   47.4   19.5
198      O   F     49       22.5       17.2    43.0   48.7   19.8
199      O   F     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [46]:
speies = data['speies'].replace({'B':0,'O':1})
sex = data['sex'].replace({'M':1,'F':0})

data['speies'] = speies
data['sex'] = sex
data

     speies  sex  index  fontallip  rearwidth  length  width  depth
0         0    1      1        8.1        6.7    16.1   19.0    7.0
1         0    1      2        8.8        7.7    18.1   20.8    7.4
2         0    1      3        9.2        7.8    19.0   22.4    7.7
3         0    1      4        9.6        7.9    20.1   23.1    8.2
4         0    1      5        9.8        8.0    20.3   23.0    8.2
..      ...  ...    ...        ...        ...     ...    ...    ...
195       1    0     46       21.4       18.0    41.2   46.2   18.7
196       1    0     47       21.7       17.1    41.7   47.2   19.6
197       1    0     48       21.9       17.2    42.6   47.4   19.5
198       1    0     49       22.5       17.2    43.0   48.7   19.8
199       1    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [48]:

from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

iris = datasets.load_iris()

X = iris.data
y = iris.target

X = data.iloc[:,4:]
y = data.iloc[:,1]

print(X[:200])
print(y[:8])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
sc = StandardScaler()
sc.fit(X_train)
X_train_Std = sc.transform(X_train)
X_test_Std = sc.transform(X_test)


model=Perceptron(max_iter = 2000, eta0 = 20,random_state = 0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa Scale:', accuracy_score(y_test,y_pred))


model=Perceptron(max_iter = 2000,eta0 = 20,random_state = 0)
model.fit(X_train_Std, y_train)
y_pred = model.predict(X_test_Std)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình :', accuracy_score(y_test,y_pred))

     rearwidth  length  width  depth
0          6.7    16.1   19.0    7.0
1          7.7    18.1   20.8    7.4
2          7.8    19.0   22.4    7.7
3          7.9    20.1   23.1    8.2
4          8.0    20.3   23.0    8.2
..         ...     ...    ...    ...
195       18.0    41.2   46.2   18.7
196       17.1    41.7   47.2   19.6
197       17.2    42.6   47.4   19.5
198       17.2    43.0   48.7   19.8
199       20.2    46.2   52.5   21.1

[200 rows x 4 columns]
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: sex, dtype: int64
[1 0 1 1 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 0 1 1 0 1 1 0
 1 0 1]
147    1
85     0
32     1
16     1
146    1
195    0
58     0
161    0
125    1
117    1
197    0
180    0
46     1
63     0
19     1
183    0
2      1
184    0
107    1
77     0
35     1
87     0
177    0
28     1
174    0
139    1
137    1
179    0
34     1
12     1
78     0
186    0
86     0
176    0
170    0
110    1
98     0
10     1
60     0
4      1
Name: sex, dtype: int64
Độ chính xác mô hình chưa Scale: 0.775
[1 0 1 1 1 0 0 0 1 1 0 0 1 0 1 0 1 0 1 0 1 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 0
 1 0 1]
147    1
85     0
32     1
16     1
146    1
195    0
58     0
161    0
125    1
117    1
197    0
180    0
46     1
63     0
19     1
183    0
2      1
184    0
107    1
77     0
35     1
87     0
177    0
28     1
174    0
139    1
137    1
179    0
34     1
12     1
78     0
186    0
86     0
176    0
170    0
110    1
98     0
10     1
60     0
4      1
Name: sex, dtype: int64
Độ chính xác mô hình : 0.975

In [49]:
import pandas as pd 
url = 'lung_cancer_examples.csv'
data = pd.read_csv(url)
data

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [53]:
data= data.drop(columns=['Name','Surname'])

data

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [72]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

iris = datasets.load_iris()

X = iris.data
y = iris.target

X = data.iloc[:,0:5]
y = data.iloc[:,-1]

print(X[:200])
print(y[:8])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)
sc = StandardScaler()
sc.fit(X_train)
X_train_Std = sc.transform(X_train)
X_test_Std = sc.transform(X_test)


model=Perceptron(max_iter = 1000, eta0 = 5,random_state = 0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa Scale:', accuracy_score(y_test,y_pred))


model=Perceptron(max_iter = 1000,eta0 = 5,random_state = 0)
model.fit(X_train_Std, y_train)
y_pred = model.predict(X_test_Std)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình :', accuracy_score(y_test,y_pred))

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0
0    1
1    1
2    0
3    0
4    1
5    0
6    0
7    0
Name: Result, dtype: int64
[0 0 0 0 1 1 0 0 1 0 1 1 0 1 0]
8     0
38    0
17    0
7     0
31    1
14    1
30    0
10    0
49    1
48    1
18    1
51    1
45    0
20    1
6     0
Name: Result, dtype: int64
Độ chính xác mô hình chưa Scale: 0.9333333333333333
[0 0 0 0 1 1 0 0 1 1 1 1 0 1 0]
8     0
38    0
17    0
7     0
31    1
14    1
30    0
10    0
49    1
48    1
18    1
51    1
45    0
20    1
6     0
Name: Result, dtype: int64
Độ chính xác mô hình : 1.0

In [74]:
import pandas as pd 
url = 'pima-indians-diabetes.csv'
data = pd.read_csv(url)
data

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [124]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

iris = datasets.load_iris()

X = iris.data
y = iris.target

X = data.iloc[:,0:8]
y = data.iloc[:,-1]

print(X[:200])
print(y[:8])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
sc = StandardScaler()
sc.fit(X_train)
X_train_Std = sc.transform(X_train)
X_test_Std = sc.transform(X_test)


model=Perceptron(max_iter = 100, eta0 = 0.1,random_state = 0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình chưa Scale:', accuracy_score(y_test,y_pred))


model=Perceptron(max_iter = 100,eta0 = 0.1,random_state = 0)
model.fit(X_train_Std, y_train)
y_pred = model.predict(X_test_Std)
print(y_pred)
print(y_test)
print('Độ chính xác mô hình :', accuracy_score(y_test,y_pred))

     6  148  72  35    0  33.6  0.627  50
0    1   85  66  29    0  26.6  0.351  31
1    8  183  64   0    0  23.3  0.672  32
2    1   89  66  23   94  28.1  0.167  21
3    0  137  40  35  168  43.1  2.288  33
4    5  116  74   0    0  25.6  0.201  30
..  ..  ...  ..  ..  ...   ...    ...  ..
195  1  105  58   0    0  24.3  0.187  21
196  3  107  62  13   48  22.9  0.678  23
197  4  109  64  44   99  34.8  0.905  26
198  4  148  60  27  318  30.9  0.150  29
199  0  113  80  16    0  31.0  0.874  21

[200 rows x 8 columns]
0    0
1    1
2    0
3    1
4    0
5    1
6    0
7    1
Name: 1, dtype: int64
[1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1]
715    1
301    0
647    1
20     0
373    0
      ..
591    1
400    0
533    0
529    0
363    0
Name: 1, Length: 154, dtype: int64
Độ chính xác mô hình chưa Scale: 0.34415584415584416
[1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 1
 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 1 0 1 1 1 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0
 0 0 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1
 0 0 0 0 0 1]
715    1
301    0
647    1
20     0
373    0
      ..
591    1
400    0
533    0
529    0
363    0
Name: 1, Length: 154, dtype: int64
Độ chính xác mô hình : 0.6753246753246753